# Dependencies
node_modules
.pnpm-debug.log

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea
.vscode

# Test coverage
coverage/
*.lcov