@import "tailwindcss";

:root {
    /* background */
    --color-bg-primary: #13151a;
    --color-bg-secondary: #181a20;

    /* border */
    --color-border-default: #e8eaed;
    --color-border-muted: #646566;

    /* text*/
    --color-text-primary: #E8EAED;
    --color-text-secondary: #DDE0E4;
    --color-text-muted: #98A2AE;
}